<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 权限 -->
    <!-- 允许使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许读取文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许写入文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许管理外部存储 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireLedger"
        tools:targetApi="31">

        <!-- SplashActivity作为启动页 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity作为普通Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- RegisterActivity作为普通Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- MainActivity作为普通Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

       <!-- LLMActivity作为普通Activity -->
        <activity
            android:name=".LLMActivity"
            android:exported="false" />


        <!-- TestActivity作为普通Activity -->
    </application>

</manifest>